<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <button onclick="controller.generate(100,1000,10000)">Generate</button>
        <button onclick="controller.clearData()">Clear Table</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-responsive">
        <thead>
            <tr>
                <th>Index</th>
                <th>Generated Number</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
        </table>
    </div>
</div>
