<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="javascripts/app-uglify.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <h3>Number Generator App</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="unittest">Unit Test</a></li>
        </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Task Description:
                </div>
                <div class="panel-body">
                    <ul>
                        <li> Generate 100 unique random numbers of 4 digits</li>
                        <li> Generate test</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  {{{body}}}
  </div>
</body>
</html>

