<div class="row">
    
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><div id="qunit-header">QUnit Test Suite</div></h3>
        </div>
        <div class="panel-body">
            <div id="qunit-banner"></div>
            <div id="qunit-testrunner-toolbar"></div>
            <div id="qunit-userAgent"></div>
            <ol id="qunit-tests"></ol>
        </div>
        </div>
    </div>
</div>

